page-filter {

        z-index: 9999;
        width: 300px !important;
        height: 500px !important;
        background: #fff !important;
        top: 14% !important;
        left: 32% !important;
 
}
