<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>cart</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="cart-page">
        <ion-title class="headline">Cart</ion-title>
        <hr>
        <ion-grid *ngIf="customer_cart_data.length > 0">
            <ion-row *ngFor="let item of customer_cart_data; let i = index">
                <ion-col col-4>
                    <div class="product-image">
                        <!-- <img src="assets/imgs/img1.png"> -->
                        <img [src]="item.image_small" />
                    </div>
                </ion-col>
                <ion-col col-8>
                    <div class="cart-list">
                        <p>{{item.product_name}}</p>
                        <span [innerHtml]="item.description"></span>

                        <button class="price-btn" ion-button>₹ {{item.price}} </button>

                        <div class="quantity" style="padding-left: 5px;">
                            <button class="quantity-btn" type="button" name="button" (click)="decrement(i)">
                                <ion-icon name="remove"></ion-icon>
                            </button>
                            <span style="width: 20px; text-align: center; display:inline-block;"> {{item.quantity}}</span>
                            <button class="quantity-btn" type="button" name="button" (click)="increment(i)">
                                <ion-icon name="add"></ion-icon>
                            </button>
                            <hr>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
           <hr>
            <ion-row>
                <ion-col col-6>
                    <p>Total</p>
                    <h3><i class="fa fa-inr" aria-hidden="true"></i>{{total_item_price}}</h3>
                    <p>Free Domestic Shopping</p>
                </ion-col>
                <ion-col col-6 class="submit-btn">
                    <button ion-button color="danger" (click)="checkout()" round>
                        Checkout
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <p *ngIf="customer_cart_data.length ==0" class="error-msg">No Records found</p>
    </div>
</ion-content>
<ion-footer>
    <page-footer></page-footer>
</ion-footer>