<ion-header *ngIf="!isHeaderHidden">
     <ion-navbar hideBackButton="{{hideBackButton}}">
        <ion-buttons left>
            <button ion-button menuToggle color="light" *ngIf="hideBackButton">
                <ion-icon name="menu"></ion-icon>
                <ion-title></ion-title>
            </button>
            
        </ion-buttons>
    
        <ion-icon *ngIf="!hideBackButton"  ios="ios-arrow-round-back" md="md-arrow-round-back" (click)="goBack()"></ion-icon>

        <ion-title></ion-title>

        <ion-buttons right>
            <button *ngIf="isLoggedin !=true" ion-button icon-only (click)="gotoPage('LoginPage')">
                <ion-icon ios="ios-person-outline" md="md-person"></ion-icon>
            </button>
            <button *ngIf="isLoggedin ==true" ion-button icon-only (click)="gotoPage('ProfilePage')">
                <ion-icon ios="ios-person-outline" md="md-person"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons (click)="gotoPage('CartPage')" right>
            <button ion-button icon-only>
                <ion-icon ios="ios-cart-outline" md="md-cart"></ion-icon>
          
             <span class='badge badge-warning' id='lblCartCount'> {{totalCart}} </span>
            </button></ion-buttons>
    </ion-navbar>

</ion-header>


<ion-menu [content]="mycontent">
    <ion-content class="menu-nav">
        <ion-item class="profile-img">

            <img src="assets/imgs/no-image.png" />

            <h2>{{logged_first_name}} {{logged_last_name}}</h2>
            <span>{{logged_user_email}}</span>
        </ion-item>
        <ion-item (click)="gotoPage('HomePage')">

            <ion-icon name="ion-md-home" class="ion-md-home"></ion-icon>
            Home
        </ion-item>
        <ion-item (click)="gotoProductList('ProductlistPage')">
            <ion-icon name="apps"></ion-icon>
            Product List
        </ion-item>
        <!-- <ion-item (click)="gotoPage('ProductdetailsPage')">
            <ion-icon name="alert"></ion-icon>
            Product Details
        </ion-item> -->
        <!-- <ion-item (click)="gotoPage('SubcategoryPage')">
            <ion-icon name="archive"></ion-icon>
            Sub Category
        </ion-item> -->
        <ion-item (click)="gotoPage('CartPage')">
            <ion-icon name="cart"></ion-icon>
            Cart
        </ion-item>
        <ion-item (click)="gotoPage('OrdersPage')" *ngIf="isLoggedin ==true">
            <ion-icon ios="ios-document" md="md-document"></ion-icon>
            Order
        </ion-item>
        <ion-item (click)="gotoPage('LoginPage')" *ngIf="isLoggedin !=true">
            <ion-icon ios="ios-log-in" md="md-log-in"></ion-icon>
            Sign In
        </ion-item>
        <ion-item (click)="logOut()" *ngIf="isLoggedin ==true">
            <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
           Logout
        </ion-item>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage" swipeBackEnabled="false"></ion-nav>
