// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// CSS for Home page  start
ion-content {
    background-color: #f5f6f8 !important;
}

.back-button {
    display:block;
}


ion-header {
    div.toolbar-background {
        background-image: url('../assets/imgs/header.png');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        //    background-color: #fb7775;
    }
    ion-icon {
        color: #ffffff;
    }
}

ion-footer {
    ion-icon {
        font-size: 22px;
        text-align: center;
    }
    button {
        padding: 4px 16px;
        background: transparent;
    }
    span {
        text-align: center;
        display: block;
        margin: 0px auto 10px;
    }
    .active {
        color: #fb7775;
    }
}

ion-row {
    text-align: center;
}

.see-all ion-icon {
    font-size: 4.5em;
}

.see-all span {
    margin: 22px auto 10px;
}

.category-list {
    padding-top: 10px;
}

.category-list .image-avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.category-list span {
    text-align: center;
    display: block;
    // margin: -14px auto 10px;
}

.latest-list ion-card {
    height: 220px;
    border-radius: 10px;
    position: relative;
}

.latest-list .swiper-slide button {
    position: absolute;
    bottom: 86px;
    left: 32px;
    border-radius: 22px;
    height: 26px;
    color: red;
}

.latest-list img {
    margin: 0 auto;
    padding: 11px 0 0;
}

.latest-list p {
    font-size: 11px;
}

.recent-list img {
    width: 100%;
}

.recent-list ion-card {
    height: 240px;
    position: relative;
}

.recent-list button {
    position: absolute;
    bottom: 114px;
    left: 25%;
    border-radius: 22px;
    height: 22px;
    color: red;
    font-size: 11px;
}

.recent-list .card-content-md {
    padding: 0px 16px
}

.recent-list p {
    font-size: 11px;
}

.recent-list button ion-icon {
    color: #5DCE08;
    margin-left: 6px;
}

.rating {
    color: #b2b2b2;
    font-size: 10px;
}

.rating.active {
    color: #DDA72A
}

.arrival-list .slide-zoom {
    margin: 0 15px;
}

.latest-list .swiper-slide img {
    width: 88% !important;
}

.latest-list .swiper-slide button {
    position: absolute;
    bottom: 95px;
    left: 25%;
    border-radius: 22px;
    height: 22px;
    color: red;
    font-size: 11px;
}

.latest-list .swiper-slide button ion-icon {
    color: #5DCE08;
    margin-left: 6px;
}

// For product List Page
.bar-subheader .swiper-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bar-subheader span {
    color: #7c8597;
    font-size: 15px;
}

.bar-subheader span.active {
    color: #fb9d9e;
    ;
}

.product-list {
    background: #efecec;
}

// .menu-inner ion-content {
//     background: #fb9360 !important;
// }
.md .menu-inner .item-md {
    background: none;
    border-bottom: 1px solid #ea520747;
    color: #090909;
}

.product-list ion-card {
    position: relative;
}

.product-list .cart-icon-image {
    position: absolute;
    top: -16px;
    width: 50%;
    left: -14%;
}

.product-list .more-option {
    position: absolute;
    right: 9px;
    font-size: 2em;
}

.product-list .col {
    padding: 0px !important;
}

.product-list .card-md {
    padding: 5px;
    margin: 5px !important;
    width: calc(100% - 10px) !important;
    border-radius: 10px;
}

.product-list .card-title-md {
    font-size: 16px !important;
}

.product-list .card-content-md {
    padding: 5px;
    padding: 4px 16px;
}

.product-list .price {
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
}

//Product Details page
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
    left: 0;
    width: 100%;
    top: 0px;
}

.pro-details ion-col {
    color: #798291;
}

.pro-details ion-col p {
    color: #798291;
}

.pro-details ion-col:nth-child(even) {
    text-align: right;
}

.pro-details ion-col:nth-child(odd) {
    text-align: left;
}

.details-header {
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.bradcumb span {
    margin-right: 20px;
}

.bradcumb .toolbar-title-md {
    padding: 0px 0px 10px 0px;
    text-align: left;
    font-size: 14px;
}

.toolbar-title-md {
    color: #716D6D;
}

.bradcumb .dot-size {
    border: 1px solid #cccccc;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 10px;
}

// Css for profile page 
.item-md ion-avatar img {
    width: 80px;
    height: 80px;
}

.item-md.item-block .item-inner {
    border-bottom: none;
}

.icon-rightside {
    float: right;
}

.profile-page .item-md {
    color: #9c9c9c;
}

.avatar-title {
    color: #000;
    font-weight: bold !important;
}

.profile-page ion-card {
    border-radius: 6px;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.category-list .close {
    color: #fb8384;
    font-size: 29px;
    padding: 25px;
    position: absolute;
    right: 0;
    top: -21px;
    z-index: 999;
}

.sub-cat .label-md,
p {
    color: #9c9c9c;
}

.product-image img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    padding: 16px;
    background-color: #ffffff;
}

.quantity {
    padding-top: 0px;
}

.quantity-btn {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

// .cart-list p {
//     margin:1px;
// }
.cart-list span {
    color: #9c9c9c;
}

.cart-list p:first-child {
    margin: 0;
}

.latest-list ion-card .card-content-md {
    padding: 5px 16px;
}

.profile-img img {
    margin: 0 auto;
    text-align: center;
    display: block;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: 7px solid #febb644d;
}

.profile-img h2 {
    text-align: center;
}

.profile-img span {
    font-size: 11px;
    text-align: center;
    color: #999;
    display: block;
}

.profile-img {
    padding-top: 51px;
}

.menu-nav .item ion-icon {
    color: #fe5d05;
}

.slide-zoom .toolbar-title-ios {
    color: #7b7777;
    text-align: center;
}

.headline .toolbar-title-ios {
    color: #7b7777;
    text-align: left;
    padding-left: 16px;
    font-size: 20px;
}

.category-list .card-ios {
    border-radius: 13px;
}

.category-list .list-ios>.item-block:first-child {
    border-top: 0.55px solid #c8c7cc57;
}

.category-list ion-label ion-icon {
    float: right;
    color: #bfbfbf;
    font-size: 23px;
}

.cart-list .price-btn {
    display: block;
    border-radius: 22px;
    height: 30px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #bdbdbd;
}

.cart-list .price-btn span {
    color: red;
}

.submit-btn button ion-icon {
    float: right;
    font-size: 30px;
    margin-left: 10px;
}

.product-price .product-image {
    padding: 15px;
}

.product-price ion-card {
    border-radius: 15px;
}

.product-price .rating {
    font-size: 7px;
}

.top-search button {
    background: #fff;
    padding: 6px;
    height: 37px;
}

.top-search button ion-icon {
    color: #ff7874;
    font-size: 24px;
}

.top-search .searchbar-ios {
    border-top: 0.55px solid transparent;
    border-bottom: none;
    background: none;
}

.top-search .searchbar-ios .searchbar-input {
    background-color: #cecdcd;
    border-radius: 31px;
}

// / css start by kalyan / 
.logo {
    padding: 0;
    min-height: 180px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 170px !important;
    }
}

.entry-form-body {
    background: #fb8868;
    border-radius: 13px;
}

.form-body {
    background: #ffffff;
    margin-top: 15px;
    width: 85%;
    margin: 0 auto;
    border-radius: 18px;
}

.entry-form-body .entry-form-title {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.form-body .button-md-primary {
    color: #fff;
    background-color: #e9520c;
}

.form-body ion-input {
    border-bottom: 1px solid #bfbcbce6;
}

.form-body .error-msg {
    font-size: 9px;
    float: right;
}

.text-center {
    text-align: center;
}

.entry-form-title {
    text-align: center;
    padding: 20px 0px 10px 0px
}

.entry-bottom {
    width: 90%;
    margin: 0 auto;
}

.error-msg {
    padding: 0;
    margin: 0;
    background: none;
    color: #ff0000;
    font-size: 12px;
}

.order-placed {
    text-align: center;
}

.forgot-password {
    padding: 10px 0;
}

.forgot-password p {
    color: #fff;
}

// / css end by kalyan /