// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// CSS for Home page  start

ion-header {
    div.toolbar-background{
        // background-image: url('assets/imgs/header.png');
        // background-repeat: no-repeat;
        // background-size:cover;
        // text-align: center;
       background-color: #fb7775;
   }
   ion-icon {
       color:#ffffff;
   }

}
ion-footer {
    ion-icon {
        font-size: 30px;
    }
    .bar-button-default-md {
        padding: 20px;
    }
}
.see-all ion-icon {
    font-size: 4.5em;
}
.see-all span {
margin: 22px auto 10px;
}
.category-list span {
    text-align: center;
    display: block;
    margin: -14px auto 10px;
}
.latest-list ion-card {
    height:230px;
}
.latest-list img {
    margin: 0 auto;
}
.recent-list img {
    width:100%;
}
.recent-list ion-card {
    height:240px;
}

.rating{
    color:#b2b2b2;
    font-size: 10px;
}
.rating.active{
    color:#DDA72A
}

.latest-list .swiper-slide img
{
    width: 88% !important;
}
// For product List Page
.bar-subheader .swiper-wrapper{
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.bar-subheader span {
    
    color:#7c8597;
    font-size: 15px;
}
.bar-subheader span.active {
    color:#fb9d9e;;
}
.product-list
{
    background: #cccccc;
}

.product-list ion-card {
    position: relative;
}

.product-list .cart-icon-image {
    position:absolute;
    top: -16px;
    width: 50%;
    left: -14%;
}
.product-list .more-option {
    position: absolute;
    right:9px;
    font-size:2em;
}

.product-list .col{
    padding: 0px !important;
}

.product-list .card-md{
    padding: 5px;
    margin: 5px !important;
    width: calc(100% - 10px) !important;
    border-radius: 10px;

}
.product-list .card-title-md
{
    font-size: 16px !important;
}

.product-list .card-content-md
{
    padding: 5px;
}
.product-list .price
{
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
}



//Product Details page
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    left: 0;
    width: 100%;
    top:0px;
}
.pro-details ion-col {
color:#798291;
}
.pro-details ion-col p {
    color:#798291;
}
.pro-details ion-col:nth-child(even) {
    text-align: right;
}
.pro-details ion-col:nth-child(odd) {
    text-align: left;
}
