// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// CSS for Home page  start

ion-header {
    div.toolbar-background{
        // background-image: url('assets/imgs/header.png');
        // background-repeat: no-repeat;
        // background-size:cover;
        // text-align: center;
       background-color: #fb7775;
   }
   ion-icon {
       color:#ffffff;
   }

}
ion-footer {
    ion-icon {
        font-size: 30px;
    }
    .bar-button-default-md {
        padding: 20px;
    }
}
.see-all ion-icon {
    font-size: 4.5em;
}
.see-all span {
margin: 22px auto 10px;
}
.category-list span {
    text-align: center;
    display: block;
    margin: -14px auto 10px;
}
.latest-list ion-card {
    height:230px;
}
.latest-list img {
    margin: 0 auto;
}
.recent-list img {
    width:100%;
}
.recent-list ion-card {
    height:240px;
}

.rating{
    color:#b2b2b2;
}
.rating.active{
    color:#DDA72A
}

.latest-list .swiper-slide img
{
    width: 88% !important;
}
// For product List Page

.bar-subheader h4 {
    color:#7c8597;
}
.bar-subheader h4.active {
    color:#fb9d9e;;
}

.product-list ion-card {
    position: relative;
}

.product-list .cart-icon-image {
    position:absolute;
    top: -16px;
    width: 50%;
    left: -14%;
}
.product-list .more-option {
    position: absolute;
    right:9px;
    font-size:2em;
}

